node_modules/
dist/
# Vite
build/
.env
.env.local
.env*.local
*.log
.DS_Store
coverage/

# Foundry
packages/contracts/cache/
packages/contracts/out/
packages/contracts/broadcast/

# Extension
packages/extension/dist/

# Cloudflare Workers
.wrangler/
wrangler.toml

# Foundry libs
packages/contracts/lib/
